body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensure the body takes up the full viewport height */
  }

@media print{
    @page {
        size: a4
    }
    .table-bordered{
        border: 2px solid black !important;
        font-size: 20px !important;
    }
    
    
}
.Pdflogo{
    height: 77px;
}
.pdftitle {
    // margin-left: 167px;
    font-size: 33px;
    color: #800000;
    text-transform: uppercase;
}

.table-bordered{
    border: 2px solid black !important;
    font-size: 16px;
}
.sign{
   
    bottom: 79px;
}
.sideTitle{
    font-size: large;
}
.image-container2 {
    max-width: 100%;
    overflow: hidden;

}
.image-container {
    // max-width: 100%;
    // overflow: hidden;
    // height: 120px;
    position: relative;
    left: 200px;
    img{
        height: 120px;
    }
}
.empty_border{
    border: solid 1px black;
    // margin-top: 33px;
    margin-left: 16px;
}

.full-width-image {
    width: 100%;
    height: auto; /* Ensures the aspect ratio is maintained */
    max-width: 100%;
    height: auto;
    image-rendering: auto;
}

// @media print {
//     .print-footer {
//         // page-break-before: always; /* Ensure the footer starts on a new page if table content overflows */
//         position: fixed;
//         bottom: 0;
//         // left: 0;
//         // width: 100%;
//       }
    
//   }
@media print {
    .print-content {
      margin-bottom: 100px; /* Space for footer */
    }
  
    table {
      width: 100%;
      page-break-inside: auto;
      margin-bottom: 0;
    }
  
    thead {
      display: table-header-group;
    }
  
    tbody {
      display: table-row-group;
    }
  
    tfoot {
      display: table-footer-group;
      position: relative; /* Relative positioning ensures footer stays with the table */
      bottom: 0;
      width: 100%;
    }
  
    tr {
      page-break-inside: avoid; /* Avoid breaking rows across pages */
    }
  
    .print-footer {
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      background: white; /* Background to prevent overlap issues */
      text-align: center;
      font-size: 12px; /* Adjust size if needed */
      border-top: 1px solid #ddd; /* Optional border for clarity */
    }

  }
  
  